In [7]:

import requests

url =  "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-01-01T14%3A01%3A01UTC/fechafin/2022-01-30T14%3A01%3A01UTC/todasestaciones"

querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJtYWxleGFuZHJhLm92YWxsZXNAZ21haWwuY29tIiwianRpIjoiMjFhOWExNzYtYjcwNS00NmI0LTljNWMtZDYzMzg1NWE4NjAxIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3MDk5MTY2MzUsInVzZXJJZCI6IjIxYTlhMTc2LWI3MDUtNDZiNC05YzVjLWQ2MzM4NTVhODYwMSIsInJvbGUiOiIifQ.BBcH6AHMOrLEPMlKXRD3xhQmKgOYSPpdo7W7i16l_AE"}

headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

resultado=response.json()
resultado


##ahora hay que hacer una llamada a request para descargar los datos

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/b5fa4e21',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}

In [15]:
response = requests.request("GET", "https://opendata.aemet.es/opendata/sh/b5fa4e21", headers=headers, params=querystring)

response.json()
datos=response.json()

In [11]:
import pandas as pd

In [16]:
data=pd.DataFrame(datos)
data

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,...,presMax,horaPresMax,presMin,horaPresMin,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,sol
0,2022-01-02,C439J,GÜÍMAR,STA. CRUZ DE TENERIFE,115,"20,6","0,0","14,9",05:00,"26,4",...,"1012,7",11,"1010,2",03,44,79,19:10,16,22:20,NaN
1,2022-01-02,0255B,SANTA SUSANNA,BARCELONA,40,"9,1","0,0","5,5",23:59,"12,7",...,NaN,NaN,NaN,NaN,86,91,Varias,79,13:20,NaN
2,2022-01-02,5612B,LA RODA DE ANDALUCÍA,SEVILLA,410,"13,0","0,0","3,9",04:50,"22,0",...,"980,8",10,"978,3",15,65,94,Varias,28,13:30,NaN
3,2022-01-02,3094B,TARANCÓN,CUENCA,808,"13,2","0,0","6,3",08:00,"20,0",...,"935,6",11,"933,5",17,61,83,23:40,37,14:20,NaN
4,2022-01-02,9394X,CALATAYUD,ZARAGOZA,582,"6,2","0,0","0,4",04:20,"12,0",...,"962,7",10,"959,4",16,80,94,Varias,57,15:50,"2,6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21496,2022-01-30,7211B,PUERTO LUMBRERAS,MURCIA,445,"11,7",NaN,"3,8",06:29,"19,6",...,NaN,NaN,NaN,NaN,30,39,Varias,12,13:20,NaN
21497,2022-01-30,7138B,JUMILLA,MURCIA,485,"7,5","0,0","-5,3",06:24,"20,3",...,NaN,NaN,NaN,NaN,32,66,06:30,11,16:00,NaN
21498,2022-01-30,7103Y,TOBARRA,ALBACETE,615,"8,6","0,0","-1,8",07:20,"18,9",...,NaN,NaN,NaN,NaN,27,56,07:20,9,13:00,NaN
21499,2022-01-30,7127X,BULLAS,MURCIA,640,"10,2","0,0","3,4",07:01,"17,1",...,NaN,NaN,NaN,NaN,35,51,01:50,22,13:00,NaN
21500,2022-01-30,8018X,ELX/ELCHE,ALICANTE,110,"11,4","0,0","1,9",04:12,"21,0",...,NaN,NaN,NaN,NaN,45,80,20:50,22,14:40,NaN

### Test 2

In [79]:

##NO TOCAR- ESTA ES LA BASE PARA LA EXTRACCION

import requests
from datetime import datetime, timedelta
import pandas as pd



start_date="2024-02-01T09%3A00%3A00UTC"
end_date="2024-02-30T09%3A00%3A00UTC"
url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{start_date}/fechafin/{end_date}/todasestaciones"

api = {"api_key": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJtYWxleGFuZHJhLm92YWxsZXNAZ21haWwuY29tIiwianRpIjoiMjFhOWExNzYtYjcwNS00NmI0LTljNWMtZDYzMzg1NWE4NjAxIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3MDk5MTY2MzUsInVzZXJJZCI6IjIxYTlhMTc2LWI3MDUtNDZiNC05YzVjLWQ2MzM4NTVhODYwMSIsInJvbGUiOiIifQ.BBcH6AHMOrLEPMlKXRD3xhQmKgOYSPpdo7W7i16l_AE"}




response = requests.request("GET", url, headers=headers, params=api)
resultado=response.json() ##Esta es la respuesta al request a AEMET, de aquí sale el link a los datos
final_link=resultado.get("datos")
final_link

respuesta=requests.request("GET",final_link,headers=headers,params=api)
datos=respuesta.json()

df=pd.DataFrame(datos)

In [85]:
#INTENTEMOS HACER HACER UN LOOP
startdate = "2024-03-01T09%3A00%3A00UTC"
enddate="2024-03-23T09%3A00%3A00UTC"

In [87]:
from datetime import datetime

coded_sdate= datetime.strptime(startdate, "%Y-%m-%dT%H%%3A%M%%3A%SUTC")
coded_edate= datetime.strptime(enddate, "%Y-%m-%dT%H%%3A%M%%3A%SUTC")

datetime.datetime(2024, 3, 23, 9, 0)

In [137]:
startdate = "2024-03-01T09%3A00%3A00UTC"
enddate="2024-03-30T09%3A00%3A00UTC"


i=0
while i <=120: ##max120

    url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{startdate}/fechafin/{enddate}/todasestaciones"
    api = {"api_key": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJtYWxleGFuZHJhLm92YWxsZXNAZ21haWwuY29tIiwianRpIjoiMjFhOWExNzYtYjcwNS00NmI0LTljNWMtZDYzMzg1NWE4NjAxIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3MDk5MTY2MzUsInVzZXJJZCI6IjIxYTlhMTc2LWI3MDUtNDZiNC05YzVjLWQ2MzM4NTVhODYwMSIsInJvbGUiOiIifQ.BBcH6AHMOrLEPMlKXRD3xhQmKgOYSPpdo7W7i16l_AE"}
    response = requests.request("GET", url, headers=headers, params=api)
    resultado=response.json() ##Esta es la respuesta al request a AEMET, de aquí sale el link a los datos
    final_link=resultado.get("datos")
    respuesta=requests.request("GET",final_link,headers=headers,params=api)
    data=pd.DataFrame(respuesta.json())

    if i==0:
        datosf=pd.DataFrame(data)
    else:
        datosf=pd.concat([datosf,data],axis=0)
    coded_stime = datetime.strptime(startdate, "%Y-%m-%dT%H%%3A%M%%3A%SUTC")
    ncoded_stime=coded_stime-timedelta(days=30)
    startdate=ncoded_stime.strftime("%Y-%m-%dT%H%%3A%M%%3A%SUTC")
    coded_etime = datetime.strptime(enddate, "%Y-%m-%dT%H%%3A%M%%3A%SUTC")
    ncoded_etime=coded_etime-timedelta(days=30)
    enddate=ncoded_etime.strftime("%Y-%m-%dT%H%%3A%M%%3A%SUTC")
    i=i+1

In [141]:
datosf.to_csv('/Users/mariaalexandraovalles/Desktop/TFM/datosfinales.csv')

In [143]:
df=pd.read_csv('datosfinales.csv')
df

,Unnamed: 0,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,...,presMax,horaPresMax,presMin,horaPresMin,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,sol
0,0,2024-03-02,8293X,XÀTIVA,VALENCIA,88,"13,9","3,4","7,3",22:20,...,"1003,8",Varias,"989,5",21,40.0,87.0,21:50,28.0,Varias,NaN
1,1,2024-03-02,2400E,AUTILLA DEL PINO,PALENCIA,874,"1,9","7,2","-1,8",23:59,...,NaN,NaN,NaN,NaN,90.0,99.0,Varias,83.0,10:10,NaN
2,2,2024-03-02,5612B,LA RODA DE ANDALUCÍA,SEVILLA,410,"8,6","4,6","1,8",04:40,...,"968,9",00,"961,3",22,69.0,94.0,Varias,44.0,16:10,NaN
3,3,2024-03-02,2755X,BENAVENTE,ZAMORA,715,"4,6","5,8","1,5",23:59,...,"927,0",00,"915,6",11,78.0,86.0,12:10,54.0,16:30,"0,8"
4,4,2024-03-02,C249I,FUERTEVENTURA AEROPUERTO,LAS PALMAS,25,"19,2","0,0","16,0",07:18,...,"1019,2",Varias,"1014,5",05,53.0,73.0,01:54,31.0,15:23,"5,6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2544168,20458,2014-05-22,7211B,PUERTO LUMBRERAS,MURCIA,445,"19,4","0,0","14,0",05:42,...,NaN,NaN,NaN,NaN,27.0,50.0,05:50,17.0,Varias,NaN
2544169,20459,2014-05-22,7138B,JUMILLA,MURCIA,485,"15,8","0,0","9,0",05:05,...,NaN,NaN,NaN,NaN,31.0,66.0,05:00,19.0,14:10,NaN
2544170,20460,2014-05-22,7103Y,TOBARRA,ALBACETE,615,"15,8","0,0","10,3",05:25,...,NaN,NaN,NaN,NaN,34.0,57.0,04:40,23.0,13:00,NaN
2544171,20461,2014-05-22,7127X,BULLAS,MURCIA,640,"16,8","0,0","10,3",05:29,...,NaN,NaN,NaN,NaN,34.0,66.0,05:30,22.0,15:40,NaN
2544172,20462,2014-05-22,8018X,ELX/ELCHE,ALICANTE,110,"21,1","0,0","14,2",23:59,...,NaN,NaN,NaN,NaN,31.0,63.0,22:30,20.0,13:30,NaN

In [153]:
df['fecha'].nunique()

3499